<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Miratti.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <Miratti.Properties.Settings>
      <setting name="textColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="botonColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="LanguageCode" serializeAs="String">
        <value>es-ES</value>
      </setting>
      <setting name="fichero_config" serializeAs="String">
        <value>personalizacion</value>
      </setting>
    </Miratti.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="Miratti" type="System.Diagnostics.TextWriterTraceListener" initializeData="miratti.log" traceOutputOptions="Timestamp, DateTime" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="mirattidbEntities" connectionString="metadata=res://*/BDModel.csdl|res://*/BDModel.ssdl|res://*/BDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7JLILKO\SQLEXPRESS;initial catalog=mirattidb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="mirattidbEntities1" connectionString="metadata=res://*/BDModel.csdl|res://*/BDModel.ssdl|res://*/BDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7JLILKO\SQLEXPRESS;initial catalog=mirattidb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Miratti.Properties.Settings.mirattidbConnectionString" connectionString="Data Source=DESKTOP-7JLILKO\SQLEXPRESS;Initial Catalog=mirattidb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.2460.0.46" newVersion="19.2460.0.46" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>